<body  Style=background-color:rgb(114,174,235); >
 
 
 <div id="container" class=cdk-global-overlay-wrapper>
  
  <div class="btn-group">
    <div class="margin-sides">
      <p style="color:rgb(4, 32, 109);font-size: 40px; max-width:large; font-family:Georgia"  > Institution management </p>
      <button class="btn btn-primary" type="button" id="list" data-toggle="modal" data-target="#listHospital">List Institutions</button>
      <button class="btn btn-primary" type="button" id="register" data-toggle="modal" data-target="#registerHospital">Register Institution</button>
      <button class="btn btn-primary" type="button" id="delete" data-toggle="modal" data-target="#deleteHospital">Delete Institution</button>
    </div>  
  </div>
</div>
<div class="modal fade" id="registerHospital" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hospitalLabel">New hospital</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newHospitalForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="regisUsername" formControlName="regisUsername" placeholder="Institution" [(ngModel)]="username"/>
            </div>
            <div class="example-container">
              <input type="description" id="regisDescription" formControlName="regisDescription" placeholder="Description" [(ngModel)]="description"/>
            </div>
            <div class="example-container">
              <input type="url" id="regisUrl" formControlName="regisurl" placeholder="url" [(ngModel)]="url"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="alert alert-danger" *ngIf="newHospitalForm.get('regisUsername').hasError(validation.type)">
                {{ validation.message }}
              </div>
           
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!newHospitalForm.valid" (click)="addHospital()" data-dismiss="modal">Create your account</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteHospital" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hospitalLabel">Delete hospital</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newHospitalForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="deleteUsername" formControlName="deleteUsername" placeholder="Institution" [(ngModel)]="username"/>
            </div>
            <div class="example-container">
              <input type="description" id="deleteDescription" formControlName="deleteDescription" placeholder="Description" [(ngModel)]="description"/>
            </div>
            <div class="example-container">
              <input type="url" id="deleteUrl" formControlName="deleteurl" placeholder="url" [(ngModel)]="url"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="alert alert-danger" *ngIf="newHospitalForm.get('deleteUsername').hasError(validation.type)">
                {{ validation.message }}
              </div>
           
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!newHospitalForm.valid" (click)="addHospital()" data-dismiss="modal">Create your account</button>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="modal fade" id="loginUser" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentLabel">Existing account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form [formGroup]="listHospitalform">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="regisUsername" formControlName="loginUsername" placeholder="Username" [(ngModel)]="username"/>
            </div>
            <div class="example-container">
              <input type="password" id="regisPassword" formControlName="loginPassword" placeholder="Password" [(ngModel)]="password"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="alert alert-danger" *ngIf="listHospitalUserForm.get('loginUsername').hasError(validation.type)">
                {{ validation.message }}
              </div>
            </ng-container>
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="alert alert-danger" *ngIf="loginUserForm.get('loginPassword').hasError(validation.type)">
                {{ validation.message }}
              </div>
            </ng-container>
            <ng-container *ngIf="wrong_login_user">
              <div class="alert alert-danger">
                Wrong user
              </div>
            </ng-container>
            <ng-container *ngIf="wrong_login_password">
              <div class="alert alert-danger">
                Wrong password
              </div>
            </ng-container>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="mat-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="mat-button" class="btn btn-primary" [disabled]="!loginUserForm.valid" (click)="registerUser()" data-dismiss="modal">Log in into your account</button>
      </div>
    </div>
  </div>
</div>-->



</body>